# Derived data
DerivedData/

# Libraries
Libraries/

# Build folder
Build/

# User preferences
userPreferences.*/

# Uncomment (remove the following # ) to ignore Trash
Project/Trash

# System files
.DS_Store
ehthumbs.db
Thumbs.db

# Personal settings
.vscode/

# 4D runtime / user data
Data/
